/*
 * Post-specific style
 */

@mixin btn-sharing-color($light-color, $important: false) {
  @if $important {
    color: var(--btn-share-color, $light-color) !important;
  } @else {
    color: var(--btn-share-color, $light-color);
  }
}

%btn-post-nav {
  width: 50%;
  position: relative;
  border-color: var(--btn-border-color);
}

.post {
  h1 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .post-meta {
    font-size: 0.85rem;
    margin-bottom: 2rem;

    span:not(:last-child) {
      margin-right: 1.5rem;
    }

    [class^='icon-'] {
      margin-right: 0.5rem;
    }
  }

  .post-content {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-top: 2rem;
    overflow-wrap: break-word;

    a {
      color: var(--link-color);

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      max-width: 100%;
      margin: 1.5rem auto;
      display: block;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
  }
}

.tag {
  border-radius: 0.7rem;
  padding: 0.3rem 0.5rem;
  margin: 0.3rem;
  background: var(--tag-bg);

  &:hover {
    background: var(--tag-hover);
  }
}

.post-navigation {
  padding: 2rem 0;
  margin-top: 4rem;
  border-top: 1px solid var(--main-border-color);
}
